# builds directory
builds
[Bb][Uu][Ii][Ll][Dd]
[Bb][Uu][Ii][Ll][Dd][Ss]

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.cache/*
.cache/clangd/index/04-drill-01.cpp.38554C1D1F5D2F36.idx
